* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: -o-linear-gradient(#0066ff, #0245fd);
    background: linear-gradient(#0066ff, #0245fd);
}

.wrapper {
    width: 90%;
    max-width: 500px;
    position: relative;
    margin: 1em auto;
    background-color: #fff;
    padding: 5em 3em;
    border-radius: 0.7em;
}
a {
    display: block;
    width: 90%;
    font-size: 1.2em;
    max-width: 500px;
    position: relative;
    margin: auto;
    background-color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 0.3em;
    color: rgb(8, 75, 92);
    text-decoration: none;
}

.num-of-tries-left {
    text-align: right;
    margin-bottom: 2em;
}
.num-of-tries-left span{
    font-weight: 600;
}
.container {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    
}
#letter-container {
    margin: 2em 0 3em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    gap: 10px;        
}
.letters {
    width: 3em;
    height: 3em;
    background-color: #fff;
    border: 2px solid #092e66;
    color: #03348f;
    border-radius: 0.3em;
    cursor: pointer;
}
