* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: -o-linear-gradient(#0066ff, #0245fd);
    background: linear-gradient(#0066ff, #0245fd);
}

.wrapper {
    width: 90%;
    max-width: 500px;
    position: relative;
    margin: 1em auto;
    background-color: #fff;
    padding: 5em 3em;
    border-radius: 0.7em;
}
a {
    display: block;
    width: 90%;
    font-size: 1.2em;
    max-width: 500px;
    position: relative;
    margin: auto;
}